<link href="../style/footer.css" type="text/css" rel="stylesheet">

<div class="footerContainer">

    <div class="footerElement fone">

        <ul>
            <li>
                <p>SIGN UP TO OUR NEWSLETTER</p>
                <p class="lightP">Be the first to receive our promotions</p>
            </li>
            <li class="emailField-container" >
                <div class="emailField">
                <input type="email" value="" placeholder="Enter your Email">
                <input type="submit" value="Subscribe">
                </div>
            </li>
        </ul>

    </div>
    <br>
    <hr>

    <div class="footerElement ftwo">

        <h2>Why shop with us?</h2>
        <br>
        <ul>
            <li>
                <img class="fimg" src="../img/footer1.png" alt="footer1">
                    <p><b>Product Quality</b></p>
                    <p class="lightP">No fake products with money back guarantee<br>
                    Instant returns on unsatisfactory products upon delivery</p>
            </li>
            <li>
                <img class="simg"src="../img/footer2.png" alt="footer2">
                    <p><b>Fast Reliable Deliveries</b></p>
                    <p class="lightP">3 Hours Deliver Promise <br>
                      Selected pickup points for convenience</p>
            </li>
            <li>
                <img class="limg" src="../img/footer3.png" alt="footer3">
                    <p><b>Personalized For You</b></p>
                    <p class="lightP">Pay with bonga points, M-PESA or credit card<br>
                    Compare products for easy purchase 
                    Get digital assistance in your purchase</p>
            </li>
        </ul>
    </div>
    <br>
    <hr>
    <div class="footerElement fthree">
        <h3>Stay Connected With Us</h3>
        <br>
        <ul>
            <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>
        <div class="lastImg">
        <img src="../img/footer4.png" alt="footer4">
        <img src="../img/footer5.png" alt="footer5">
        </div>
    </div>
</div>