<nav>

    <ul>
        <div class="navItem none">
        <li>
            <img src="../img/icon.ico" class="navImg" style="height: 40px;">
        </li>
        <li class="category">
            <a href="#"><i class="fa fa-bars"> Categories</i></a>
        </li>
        </div>

        </ul>
        <div class="navItem ntwo">
            <li class="searchBar">
                <input type="text" placeholder="What are you looking for ?"> 
                <label class="searchIcon">
                <span class="fa fa-search"></span>
                </label>
            </li>
         </div>
            
        <div class="navItem nthree">
            <li><a href="#!/product"><i class="fa fa-shopping-cart"></i></a></li>
            <li><a href="#!/contactUs"><i class="fa fa-address-card"></i></a></li>
            <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
        </div>

    </ul>
</nav>